@model IEnumerable<Restaurante.Models.Sopa>

@{
    ViewData["Title"] = "Index";
}

<h1>Sopas</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Crear</a>
</p>
<table id="TableSopas" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BHABILITADO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BHABILITADO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SopaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SopaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SopaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{
        <script>

            $(document).ready(function () {
                $('#TableSopas').DataTable();
            })
        </script>
}