@model Restaurante.Models.Bebida

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Deseas elmiminar esto?</h3>
<div>
    <h4>Bebida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BHABILITADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BHABILITADO)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BebiId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
